@font-face {
    font-family: 'black_jackregular';
    src: url('Fonts/blackjack-webfont.eot');
    src: url('Fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/blackjack-webfont.woff2') format('woff2'),
         url('Fonts/blackjack-webfont.woff') format('woff'),
         url('Fonts/blackjack-webfont.ttf') format('truetype'),
         url('Fonts/blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: rgb(104, 187, 285);
}

header h1 {
	text-align: center;
	height: 75px;
	font-size: 2.8em;
	font-family: 'black_jackregular', arial, verdana, serif;
}

#container{
	padding: 15px 100px 0px 100px;
}

#left-box {
	float: left;
	background-color: rgb(9,30,45);
	color: #FFFFFF;
	text-align: justify;
	width: 500px;
	padding: 15px 15px 15px 15px;
}

#left-box p, ul {
	padding-right: 20px;
}

#photo {
	height: 200px;
	align-content: center;
	margin-left: 150px;
	border-radius: 100px;

}

#right-box {
	padding: 15px 15px 15px 15px;
	border-radius: 20px;
	width: 1100px;
	float: right;

}

#experience-box {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px 15px 15px 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.experience-1 h3, p {
	padding-left: 30px;
	text-align: justify;
}

#studies-box {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px 15px 15px 25px;
	margin-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.study h3, p {
	padding-left: 30px;
	text-align: justify;
}

#footer {
}