body {
	background-color: #BDE3F6;
}

header h1 {
	text-align: center;
	height: 75px;
	font-size: 2.5em;
	border: 2px solid black;
}

#container{
	border: 2px solid black;
	padding: 15px 100px 0px 100px;
}

#left-box {
	float: left;
	background-color: #3BA5D0;
	color: #FFFFFF;
	border: 2px solid black;
	text-align: justify;
	width: 500px;
	padding: 15px 15px 15px 15px;
}

#left-box p {
	width: 
}
#photo {
	height: 200px;
	align-content: ;
	margin: auto;

}

#right-box {
	border: 2px solid black;
	padding: 15px 15px 15px 15px;
	width: 1100px;
	float: right;

}

#experience-box {
	background-color: #ffffff;
	border: 2px solid black;
	padding: 15px 15px 15px 15px;

}

.experience-1 {
	border: 2px solid black;
}

#studies-box {
	background-color: #ffffff;
	border: 2px solid black;
	padding: 15px 15px 15px 15px;

}

.study {
	border: 2px solid black;
}

#footer {
	border: 2px solid black;
}